form input {
 color: blue;
}
#estado {
  width: 40px;
  height: 40px;
  background-color: blue;
}

.clOnline{
  background-color: "green";
}

.clOffline{
  background-color: "red";
}


div input {
 color: green;
}
@keyframes animar{
 from{
   background-color: yellow;
 }
 to{
   background-color: blue;
 }
}
input [type="submit"]{
 animation-name:animar;
 animation-duration:4s;
}
